[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]
dicom-anonymizer = {version="1.0.7", git = "git+https://github.com/medcognetics/dicom-anonymizer.git", ref="v1.0.7-fork", editable=true}
registry = {git="git+https://github.com/TidalPaladin/callable-registry.git"}
tqdm_multiprocessing = {git="git+https://github.com/TidalPaladin/tqdm-multiprocessing.git"}
colorama = "*"
matplotlib = "*"
pydicom = "*"
Pillow = "*"
numpy = "*"
pylibjpeg = "*"
pylibjpeg-libjpeg = "*"
pylibjpeg-openjpeg = "*"
opencv-python = "*"
dicom-utils = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"
autoflake = "*"
autopep8 = "*"
black = "*"
flake8 = "*"
isort = "*"
